* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.title {
    color: whitesmoke;
    
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(5,0,80,1) 25%, rgba(8,0,135,1) 50%, rgba(5,0,80,1) 75%, rgba(0,0,0,1) 100%);
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-image: linear-gradient(transparent);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
